.grid {
    display: flex;
    width: 960px;
    height: 960px;
    background-color: grey;
    justify-content: stretch;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row {
    flex-direction: column;
    flex: 1;
    margin: 1px;
    background-color: white;
    min-height: 1px;
    min-width: 1px;
}

.rowHovered {
    flex-direction: column;
    flex: 1;
    margin: 1px;
    background-color: black;
    min-height: 1px;
    min-width: 1px;
}